$peroffset: (pow(2, 0.5) - 1)/2;
$offset: percentage($peroffset);
$offsetPX: 0px;

%angleIcon{
	width: 45px;
	height: 45px;
  box-shadow: 1px 1px 5px rgba(0,0,0, .2);
  z-index: 5;

	@extend %fixed;
	@extend %inline-block;
	@extend %ohidden;
	@extend %bg-grey;

	.top,.bottom{
		width: 200%;
    height: 200%;

		@extend %absolute;

		.icon{
	    transform: translate(-50%, -50%);
	    transition: .2s;

			@extend %absolute;

			&:before{
		    transition: .2s;

				@extend %inline-block;
			}
		}

		&.active{
			.icon{
				@extend %fblue;
			}
		}

		&.invalid{
			@extend %pnone;
			
			.icon{
				@extend %ifred;
			}
		}
  }
}

%leftIcon {
	border-radius: 0 0 5px 0;
  left: 0;
  top: 0;

	@extend %angleIcon;

	.top,.bottom{
    transform: rotate(45deg);

		.icon{
			&:first-child{
		    top: 50%;
			}
		}

		&:hover{
			.icon{
				&:before{
			    transform: rotate(-45deg);
				}

		    &.fa-times-circle:before{
			    transform: rotate(45deg);
		    }
			}
		}
	}

	.top{
    right: calc(#{$offset} + #{$offsetPX});
    bottom: calc(#{$offset} + #{$offsetPX});
    transition: .6s;

    &.rotate{
    	transform: rotate(135deg);
    }

    .icon:first-child{
	    left: 85%;
    }

    .icon:nth-child(2){
	    top: 15%;
	    left: 50%;

	    &.fa-times-circle{
	    	&:before{
				  font-size: 1.1em;
	    		width: 11.5px;
	    		height: 11.5px;

	    		@extend %inline-block;
	    	}
	    }
    }
	}

	.bottom{
		background-color: white;

    top: calc(#{$offset} + #{$offsetPX});
    left: calc(#{$offset} + #{$offsetPX});

    .icon{
	    right: 75%;
    }
	}
}

%rightIcon{
	border-radius: 0 0 0 5px;
  right: 0;
  top: 0;

	@extend %angleIcon;

	.top,.bottom{
    transform: rotate(135deg);

		.icon{
			&:first-child{
		    top: 50%;
			}

			&:before{
				transform: rotate(90deg)
			}
		}

		&:hover{
			.icon{
				&:before{
			    transform: rotate(225deg);
				}

		    &.fa-times-circle:before{
			    transform: rotate(45deg);
		    }
			}
		}
	}

	.top{
    left: calc(#{$offset} + #{$offsetPX});
    bottom: calc(#{$offset} + #{$offsetPX});
    transition: .6s;

    &.rotate{
    	transform: rotate(225deg);
    }

    .icon:first-child{
	    left: 85%;
    }

    .icon:nth-child(2){
	    top: 15%;
	    left: 50%;

	    &.fa-times-circle{
	    	&:before{
				  font-size: 1.1em;
	    		width: 11.5px;
	    		height: 11.5px;

	    		@extend %inline-block;
	    	}
	    }
    }
	}

	.bottom{
		background-color: white;

    top: calc(#{$offset} + #{$offsetPX});
    right: calc(#{$offset} + #{$offsetPX});

    .icon{
	    right: 75%;
    }
	}
}

.left-icon{
	@extend %leftIcon;
}

.right-icon{
	@extend %rightIcon;
}