$bg: '../img/bg.jpg';
// $bg: 'https://cdn.rawgit.com/xiaoshuangLi/files/feature/resumes_7/resume//img/7d911a1dc24f200e1d558b65836506b9.jpg';

.body-bg{
  animation: bgFade 1s;

  @extend %full;
  @extend %fixed;
  @include bg(cover, $bg, 50%, 100%);
}

$bgBorderWidth: 7px;

.has-bg{
	.resume-list{
		.resume-item{
			border-radius: 2px ;
			border: $bgBorderWidth solid transparent;
			background-color: rgba(255,255,255, 1);

			.resume-body{
				&.no-border{
					border-radius: 2px;
			    box-shadow: 0 0px 5px rgba(0,0,0, .2);
					
				  transform-origin: 50% #{-1px - $bgBorderWidth * 2};
				  max-width: #{$resumeListBodyWidth + $bgBorderWidth * 4};
				  width: #{$resumeListBodyWidth + $bgBorderWidth * 4};
				  height: #{$resumeListBodyHeight + $bgBorderWidth * 4};
				  max-height: #{$resumeListBodyHeight + $bgBorderWidth * 4};
				}
			}
		}
	}
}

@keyframes bgFade {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}