@import "./base.scss";
@import "./loading.scss";
@import "./bg.scss";
@import "./heart.scss";
@import "./polygon.scss";

@import "./resumes/index.scss";
@import "./personal.scss";
@import "./angle.scss";

body{
  @include linearGradient(#3a7bd5, #3a6073);

	&, &>*{
		@extend %noscroll;
	}
	
}

html{
	@extend %noscroll;
}
