$bodyMinWidth: 260px;
$contentWidth: $bodyMinWidth - 20px;

.personal-container{
	overflow-y: scroll;

	@extend %bg;
  @extend %transparent;
  @extend %noscroll;
}

.avatar-container{
  width: 90px;
  height: 90px;
  border: 4px solid white;
  margin: 20px auto;
	border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,.6);

  @extend %ohidden;
  @extend %relative;

	.img{
		@include bg;
		@extend %full;
	}
}

.input-list{
	padding: 50px 0 0;

	.input-list-body{
		min-width: $bodyMinWidth;
		margin-bottom: 30px;
	}
}

.input-item{
  width: $contentWidth;

	@extend %relative;

	&.lg{
		.input,.label{
			line-height: 2;
			font-size: 1.4em;
		}

		.input{
			&:focus + .label, &.active + .label, &.error + .label{
				font-size: 1.1em;
				line-height: 1;
			}
		}
	}

	&.skill{
		$scoreWidth: 40px;

		.input{
			&.val{
				width: calc(100% - #{$scoreWidth + 5px});
			}

			&.score{
				width: $scoreWidth;
				right: 0;
				bottom: 0;
				padding-right: 5px;

				@extend %absolute;
				@extend %tright;
			}
		}
	}

	.input,.label{
		line-height: 1.9;
		font-size: 1.2em;

		@extend %w100;
	}

	%label-active{
		font-size: 1em;
		transform: translate(0, -100%);
		opacity: .8;
		line-height: 1.5;

		&:after{
			opacity: 0;
		}
	}

	.input{
		border: none;
    border-bottom: 1px solid rgba(255,255,255, .6);
    background-color: transparent;
    resize: none;
    
		@extend %fwhite;

		&:focus + .label, &.active + .label, &.error + .label{
			@extend	%label-active; 
		}

		&.error + .label {
			.icon{
				&.invalid{
					opacity: 1;
			    transform: translate(0, -50%);
				}
			}
		}

		&.active + .label{
			.icon{
				&.remove{
			    transform: translate(0, -50%);
				}

				&.enter{
					transition-delay: 0s;

					&, span{
						opacity: 1;
					}

			    @for $i from 1 through 5{
			    	span:nth-child(#{$i}) {
			    		transition-delay: #{$i * 0.1s};
			    	}
			    }
				}
			}
		}

		&.text{
			font-size: 1.1em;
		}

		&:disabled{
			border-bottom: none;
		}
	}

	.label{
		left: 0;
		top: 0;
		transition: .2s;

		@extend %absolute;
		@extend %pnone;
		@extend %fwhite;
		@extend %ohidden;
		@extend %z-1;

		&.active{
			@extend	%label-active; 
		}

		&:before, &:after{
			@extend %inline-block;
		}

		&:before{
			content: attr(content);
		}

		&:after{
			content: '...';
			transition: .2s;
			opacity: 1;
		}

		@for $i from 1 through 4{
			.icon:nth-child(#{$i}) {
				right: #{ $i * 20px - 20px}
			}
		}

		.icon{
			transition: .4s;
			top: 50%;
			font-size: 12px;
			transform: translate(0, -50%);

			@extend %absolute;
			@extend %pointer;
			@extend %pall;

			&.invalid{
				right: 0;
				opacity: 0;
		    transform-origin: 100% 100%;
		    transform: translate(0, -50%)  rotate(90deg);
			}

			&.remove{
				right: 20px;
				transform: translate(0, -150%);
			}

			&.enter{
		    color: white;
				transition: .1s;
		    transition-delay: 0.6s;
	    	opacity: 0;

		    span{
		    	opacity: 0;
					transition: .1s;
		    }

		    @for $i from 1 through 5{
		    	span:nth-child(#{$i}) {
		    		transition-delay: #{0.5s - $i * 0.1s};
		    	}
		    }
			}
		}

	}

	&+.input-item{
		margin-top: 25px;
	}
}

.hobby-list{
  padding-top: 10px;

	@include clearBoth;
}

$hobbyNum: 5;
$hobbySpace: 0.2;

$hobbyWidth: (1 - $hobbySpace)/$hobbyNum;
$hobbyMargin: $hobbySpace/($hobbyNum - 1);

$perHobbyWidth: percentage($hobbyWidth);
$perHobbyMargin: percentage($hobbyMargin);

.hobby-item{
  width: $perHobbyWidth;
  padding-bottom: $perHobbyWidth;
	margin-bottom: 8px;
  border-radius: 4px;
  transition: .5s;
	background-color: rgba(255,255,255,.6);

	@extend %left;
	@extend %relative;
  @extend %inline-block;
  @extend %pointer;

  svg{
  	fill: url(#linear);
		filter: grayscale(1);

  	@extend %percenter;
  }


	&.active{
	  @extend %bgwhite;
		
		svg{
			filter: grayscale(0);
		}
	}

  & + .hobby-item{
  	margin-left: $perHobbyMargin;
  }

  &:nth-child(#{$hobbyNum}n + 1){
  	margin-left: 0%;
  }
}

.word-list{
	margin-top: 5px;
  width: $contentWidth;

	.word-item{
		padding: 2px 5px;
		border-radius: 3px;
		margin: 0 5px 5px 0;
		max-width: 180px;
		transition: .3s;

	  @extend %bgwhite;
	  @extend %inline-block;
	  @extend %ellipsis;
	  @extend %pointer;

	  &:hover{
	  	background-color: rgba(255, 64, 55, 0.75);
	  	color: rgba(255,255,255, 1);
	  }
	}
}

@media (max-width: 640px) {
	.input-item{
		margin: 0 auto;
	}

	 .word-list{
	 	margin: 5px auto 0;
	 }
}