@import "./one.scss";
@import "./two.scss";
@import "./three.scss";
@import "./four.scss";
@import "./five.scss";
@import "./six.scss";
@import "./seven.scss";

$resumeWidth: 247.5px;
$resumeBorderWidth: 5px;

$resumeBorderTwice: $resumeBorderWidth * 2;
$resumeHeight: 1px + $resumeBorderTwice + ($resumeWidth - $resumeBorderTwice)/0.75;
$calcResumeWidth: $resumeWidth + 50px;

$maxResume: 8;
$maskFadeNum: 1.5;

.resume-conatiner{
	padding: 20px 40px 70px;
	transition: .5s;
	filter: blur(0px);

	@extend %transparent;
	@extend %transitionlight;

	&.blur{
    filter: blur(3px);
		-webkit-filter: blur(3px);
	}
}

.detail-container{
	@extend %full;
  @extend %fixed;
	@extend %transparent;

  .resume-body{
    &.fade-out{
      animation: maskFadeOut #{1s * $maskFadeNum};
    }
    &.fade-out-reverse{
      animation: maskFadeOutReverse #{1s * $maskFadeNum};
    }
    &.fade-in{
      // animation: maskFadeIn #{1s * $maskFadeNum} infinite alternate;
      animation: maskFadeIn #{1s * $maskFadeNum};
    }
    &.fade-in-reverse{
      animation: maskFadeInReverse #{1s * $maskFadeNum};
    }
  }
}

.resume-list{
	@extend %row;

	.resume-item{
		border-radius: 7px;
    border: $resumeBorderWidth solid white;
    box-shadow: 0 0px 5px rgba(0,0,0, .2);
    width: $resumeWidth;
    height: $resumeHeight;

    @extend %bgwhite;
    @extend %left;
    @extend %pointer;
    @extend %relative;

    .resume-body{
      width: $resumeListBodyWidth;
      max-width: $resumeListBodyWidth;
      height: $resumeListBodyHeight;
      max-height: $resumeListBodyHeight;
      transform-origin: 50% 0;
      transform: translate(-50%, 0) scale(0.5233334);

      left: 50% !important;

      @extend %bgwhite;
    }
	}
}

@for $i from 1 through 8 {
	@media (min-width: #{ 141px + $calcResumeWidth * $i }) and (max-width: #{ 140px + $calcResumeWidth * ($i + 1) }) {
		$width: 1/($i + 1);
		$widthPer: percentage($width);

		.resume-item{
			margin: 50px 0 0px calc(#{$widthPer} - #{$resumeWidth * ($i/($i+1))});
		}
	}
}

@media (max-width: #{141px + $calcResumeWidth}) {
  .resume-item{
    margin: 50px auto 0;
    display: block;
    float: initial !important;
  }
}

@media (min-aspect-ratio: 4/5) {
	$resumeWidth: 75vh;

  .resume-body{
  	position: absolute;
  	top: 0;
  	width: 75vh;
  	height: 100vh;
  	left: 50%;

  	max-height: 100%;
  	max-width: 100%;

  	transform: translate(-50%, 0);
  }	
}

@media (max-aspect-ratio: 4/5) {
  .resume-body{
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  }	
}

@media (orientation: landscape) and (max-height: 480px) {
  $mediaTime: 0.55;
  .resume-body{
    height: 100vh/$mediaTime;
    width: 75vh/$mediaTime;

    max-width: inherit;
    max-height: inherit;

    transform: translate(-50%, 0) scale($mediaTime);
    transform-origin: 50% 0;
  }
}

$fSizeNum: 12;
$fMaxWidthNum: 1280;

$fMinWidth: 359px;
$fMaxWidth: $fMaxWidthNum * 1px;
$fSize: $fSizeNum * 1px;

@media (min-width: #{$fMaxWidth}) {
  .detail-container{
    .resume-body{
      font-size: calc( #{$fSize} + #{$fSizeNum * 1.1} * ((100vw - #{$fMaxWidth}) / #{$fMaxWidthNum} ) );
    }
  }
}

@media (max-width: #{$fMinWidth}){
  .detail-container{
    .resume-body{
      font-size: 8.5px;
    }
  }
}

$maskMax: $maskFadeNum * 36;

@keyframes maskFadeOut{
  @for $i from 1 through $maskMax {
    $fadeOutNum: 0.5 * ($i - 1)/($maskMax - 1);
    $fadeOutNumHalf: 0.5 + $fadeOutNum;
    $perFadeOutNum: percentage($fadeOutNum);
    $perFadeOutNumHalf: percentage($fadeOutNumHalf);

    $maskOpacity: 1 - $fadeOutNum*2;

    #{$perFadeOutNum} {
      -webkit-mask-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(0,0,0, $maskOpacity)), to(rgba(0,0,0,1)));
    }

    #{$perFadeOutNumHalf} {
      -webkit-mask-image: -webkit-gradient(linear, $perFadeOutNum * 2 $perFadeOutNum * 2, 100% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    }
  }
}

@keyframes maskFadeOutReverse{
  @for $i from 1 through $maskMax {
    $fadeOutNum: 0.5 * ($i - 1)/($maskMax - 1);
    $fadeOutNumHalf: 0.5 + $fadeOutNum;
    $reverseFadeOutNum: 1 - $fadeOutNum * 2;
    $perFadeOutNum: percentage($fadeOutNum);
    $perFadeOutNumHalf: percentage($fadeOutNumHalf);
    $perReverseFadeOutNum: percentage($reverseFadeOutNum);

    $maskOpacity: 1 - $fadeOutNum*2;

    #{$perFadeOutNum} {
      -webkit-mask-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(0,0,0, 1)), to(rgba(0,0,0, $maskOpacity)));
    }

    #{$perFadeOutNumHalf} {
      -webkit-mask-image: -webkit-gradient(linear, 0 0,  $perReverseFadeOutNum  $perReverseFadeOutNum, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
  }
}

@keyframes maskFadeIn{
  @for $i from 1 through $maskMax {
    $fadeOutNum: 0.5 * ($i - 1)/($maskMax - 1);
    $fadeOutNumHalf: 0.5 + $fadeOutNum;
    $perFadeOutNum: percentage($fadeOutNum);
    $perFadeOutNumHalf: percentage($fadeOutNumHalf);

    #{$perFadeOutNum} {
      -webkit-mask-image: -webkit-gradient(linear, 0 0, $perFadeOutNum * 2 $perFadeOutNum * 2, from(rgba(0,0,0,$fadeOutNum * 2)), to(rgba(0,0,0, 0)));
    }

    #{$perFadeOutNumHalf} {
      -webkit-mask-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(0,0,0,1)), to(rgba(0,0,0, $fadeOutNum * 2)));
    }
  }
}

@keyframes maskFadeInReverse{
  @for $i from 1 through $maskMax {
    $fadeOutNum: 0.5 * ($i - 1)/($maskMax - 1);
    $fadeOutNumHalf: 0.5 + $fadeOutNum;
    $reverseFadeOutNum: 1 - $fadeOutNum * 2;

    $perFadeOutNum: percentage($fadeOutNum);
    $perFadeOutNumHalf: percentage($fadeOutNumHalf);
    $perReverseFadeOutNum: percentage($reverseFadeOutNum);

    #{$perFadeOutNum} {
      -webkit-mask-image: -webkit-gradient(linear, $perReverseFadeOutNum $perReverseFadeOutNum, 100% 100%, from(rgba(0,0,0, 0)), to(rgba(0,0,0, 1)));
    }

    #{$perFadeOutNumHalf} {
      -webkit-mask-image: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(0,0,0, $fadeOutNum * 2)), to(rgba(0,0,0, 1)));
    }
  }
}
